PORT=3000
JWT_SECRET=change-me
EPUBLICA_BASE_URL=https://epublica.bc.sc.gov.br/epublica/api/v1
EPUBLICA_X_ALIAS=balneario_camboriu
EPUBLICA_X_NOME_CHAVE=IDS
EPUBLICA_X_API_KEY=change-me
EPUBLICA_TOKEN=
