PORT=3000
JWT_SECRET=change-me
EPUBLICA_BASE_URL=https://epublica.bc.sc.gov.br/epublica/api/v1
EPUBLICA_X_ALIAS=balneario_camboriu
EPUBLICA_X_NOME_CHAVE=IDS
EPUBLICA_X_API_KEY=change-me
EPUBLICA_TOKEN=

SINNC_SAUDE_DB_URL=
SINNC_SAUDE_DB_HOST=
SINNC_SAUDE_DB_PORT=
SINNC_SAUDE_DB_USER=
SINNC_SAUDE_DB_PASSWORD=
SINNC_SAUDE_DB_NAME=
SINNC_SAUDE_DB_SSL=false

SINNC_SAUDE_BASE_URL=http://127.0.0.1:8080
SINNC_SAUDE_TOKEN=
